DATABASE_URL="postgresql://postgres.xxx:password@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:password@db.xxx.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_xxx
BITESHIP_API_KEY=biteship_test.xxx
BITESHIP_ORIGIN_AREA_ID=IDNP6IDNC146IDND820IDZ11710
NEXT_PUBLIC_BASE_URL=https://your-site.netlify.app
STORE_NAME=OTOBI
STORE_PHONE=0817812155
STORE_ADDRESS=Jl. Raya Duri Kosambi No.8a, Cengkareng, Jakarta Barat 11750
